@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Reset & Base */
body,
html {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: rgba(22, 32, 55, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0;
}

.navbar > img {
  width: 64px;
  height: 70px;
  margin: auto;
  padding: 17px;
  display: block;
  position: relative;
}

/* Hero Section */
.hero-section video {
  width: 100%;
  position: absolute;
  top: 104px;
  left: 0;
  z-index: -1;
}

.hero-section img {
  width: 258px;
  height: 290px;
  margin: auto;
  display: block;
  position: relative;
  top: 400px;
}

/* Mission Background */
.mission-background > img {
  width: 105%;
  margin: 0 -9px;
  position: relative;
  top: 605px;
  left: 0;
  display: block;
  z-index: -1;
}

/* Mission Section */
.mission-section * {
  color: white;
  width: 760px;
  margin: auto;
  text-align: center;
}

.mission-section > h1 {
  font-size: 70px;
  position: relative;
  top: 150px;
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.mission-section > p {
  margin-top: 50px;
  font-size: 23px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

/* Font Awesome Icon */
#font-awesome {
  font-size: 40px;
  margin-top: 200px;
  display: block;
}

/* Footer Section */
.footer-section {
  width: 100%;
  height: 50px;
  background-color: rgb(20, 18, 41);
  position: relative;
  top: 150px;
}

.footer * {
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  padding: 0 80px;
  position: relative;
  top: 13px;
  left: 200px;
}

/* Contact Form */
.contact-form * {
  position: relative;
  top: 80px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border: 2px dashed blue;
  border-radius: 10px;
}

.contact-form > label,
.contact-form > button {
  background-color: rgb(205, 170, 170);
  width: 100px;
}

.contact-form > button {
  width: 80px;
}

/* Return Button */
.return-button {
  display: block;
  margin: auto;
  position: relative;
  top: 100px;
  padding: 10px;
  background-color: rgb(210, 178, 241);
  border-radius: 10px;
}
