body {
  margin: 0px;
  padding: 0px;
}

.page-body-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.hero-content-video {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 40px;
  min-height: 800px;
  border-right: 5px solid rgb(59, 177, 246);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 800px;

  margin: auto;
  /* padding: 5px; */
}

form > .field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(8, 121, 178);
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
}

input {
  width: 200px;
  height: 25px;
}
input::placeholder,
textarea::placeholder {
  color: rgb(88, 155, 197);
  font-style: italic;
  padding-left: 3px;
}

input:required {
  border-color: rgb(228, 162, 121);
}

button {
  background-color: rgb(157, 218, 253);
  width: 200px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(59, 177, 246, 0.3);
  padding: 20px;
  height: 40px;
  width: auto;
  font-size: 1em;
}

@media screen and (max-width: 890px) {
  body {
    min-width: 600px;
  }
  .page-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100px;
  }
  .hero-content-video {
    margin-top: 0px;
    border-left: 5px solid rgb(59, 177, 246);
    min-width: 600px;
  }
  form > .field-wrapper {
    align-items: center;
  }

  button {
    margin-bottom: 50px;
    margin-left: 50px;
    cursor: pointer;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(59, 177, 246, 0.3);
    padding: 20px;
    height: 50px;
    width: 300px;
  
    margin: 0 auto;
}
